.k-input-inner {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  /* identical to box height */

  display: flex;
  align-items: center;

  /* $text-color */
  color: rgba(0, 0, 0, 0.87);
}

