<div class="window">
  <div class="header">
    <div class="text">Уведомления</div>
    <div class="close-button"></div>
  </div>
  <div class="main">
    <div class="senders">
      <div class="buttons-and-search">
        <div class="buttons">
          <div class="button-recent">Недавние</div>
          <div class="button-read">Прочитанные</div>
          <div class="button-all">Все</div>
        </div>
        <div class="search">
          <input type="text" class="search-input" placeholder="Поиск уведомлений">
          <button class="search-cancel"></button>
          <button class="search-filter"></button>
        </div>
      </div>
      <div class="senders-list">
        <div class="sender">
          <div class="avatar"></div>
          <div class="tittle-and-message">
            <div class="tittle">
              Помошник
            </div>
            <div class="last-message">
              Помошник помог вам решить проблему
            </div>
          </div>
          <div class="data-and-count">
            <div class="data">пт</div>
            <div class="count">12</div>
          </div>
        </div>
      </div>
    </div>
    <div class="messages">
      asd
    </div>
  </div>
</div>
